@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9b9b9b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #9b9b9b;
  }
}

body {
  color: black;
  background: white;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

form, canvas {
  margin: 20px;
  padding: 20px;
}

input {
  border: 1px solid black;
}
